<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Query Manager</label>
    <label lang="en">Query Manager</label>

    <version>2.0.4</version>
    <license>MIT</license>
    <link>http://www.webmatch.de</link>
    <author>Webmatch GmbH</author>
    <compatibility minVersion="5.2.0" />

    <changelog version="2.0.4">
        <changes lang="de">Mehrere E-Mail-Adressen als Empfänger in Cron-Jobs</changes>
        <changes lang="en">Add support for multiple recipients in cron-jobs</changes>
    </changelog>

    <changelog version="2.0.3">
        <changes lang="de">Abweichende E-Mail Adresse für Cron-Job ergänzt</changes>
        <changes lang="en">Deviant e-mail address for cron-job added</changes>
    </changelog>

    <changelog version="2.0.2">
        <changes lang="de">Zend Mysqli Adapter für Shopware 5.3 übernommen</changes>
        <changes lang="en">Included Zend Mysqli Adapter for Shopware 5.3</changes>
    </changelog>

    <changelog version="2.0.1">
        <changes lang="de">Veröffentlichung Open-Source</changes>
        <changes lang="en">Release Open-Source</changes>
    </changelog>
</plugin>