<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element type="boolean">
            <name>log_csv</name>
            <label lang="de">Reihen als CSV loggen</label>
            <label lang="en">Log Rows as CSV</label>
            <value>true</value>
        </element>
        <element type="text">
            <name>mail_address_receiver</name>
            <label lang="de">CSV Exporte an E-Mail Adresse versenden</label>
            <label lang="en">Send CSV Exports to an E-Mail Address</label>
            <value/>
            <description lang="de">Mehrere Empfänger kommasepariert angeben</description>
            <description lang="en">Enter multiple recipients comma separated</description>
        </element>
        <element type="text">
            <name>csv_field_separator</name>
            <label lang="de">CSV Trennzeichen für Spalten</label>
            <label lang="en">CSV Field Separator</label>
            <value>,</value>
        </element>
        <element type="boolean">
            <name>autocomplete</name>
            <label lang="de">SQL Autocomplete aktivieren</label>
            <label lang="en">Active SQL Autocompletion</label>
            <value>true</value>
        </element>
    </elements>
</config>